#jwinterConBtn{
  float:right;
  padding:0;
  margin:3px 10px;
  border:none;
}

#jwinterConBtn:hover{
  opacity:0.6;
}

#jwinterConBtn img{
  width:28px
}

#jwinterConSizeArea{
  display:none;
  position:absolute;
  top:43px;
  right:12px;
  background-color:white;
  border:1px solid gray;
  border-top:5px solid black;
  padding:7px;
  width:270px;
  height:42px;
}

#jwinterConSize{
  width:55px;
}

#jwinterConList{
  display:none;
  position:absolute;
  top:84px;
  right:12px;
  background-color:white;
  border:1px solid gray;
  border-top:1px solid #c9c9c9;
  padding:5px;
  width:270px;
  height:370px;
  overflow:auto;
}

#jwinterConList img{
  display:inline-block;
  width:50px;
  margin:5px;
  cursor:pointer;
}

#jwinterConList img:hover{
  opacity:0.6;
}